.ContactMeContainer {
  height: fit-content;
}

.getInTouchContainer,
.contactContainer {
  max-width: 63.4375rem;
  min-width: 53rem;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 1px solid var(--lightGrey);
  border: 1px solid green;
  justify-content: center;
}

.getInTouchContainer h1 {
  min-width: 15rem;
  max-width: 21.875rem;
}

.getInTouchText {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 39.6875rem;
  min-width: 29rem;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 39.6875rem;
}

.contactForm form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
}

.contactForm form label {
  width: 100%;
}

.contactForm form label input,
.contactForm form label textarea {
  height: 3rem;
  width: 100%;
  background-color: var(--lightGrey);
  padding-left: 1rem;
}

.contactForm form label textarea {
  height: 6rem;
  padding-top: 1rem;
}

/* medium screens */
@media screen and (max-width: 768px) {
  .getInTouchContainer h1,
  .getInTouchText {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 39.6875rem;
  }
}

/* Small screens */
@media screen and (max-width: 480px) {
  .getInTouchContainer h1,
  .getInTouchText {
    width: 100%;
  }
}
