.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 1rem;
  margin: 4rem 0rem;
  top: 0px;
  height: 2rem;
  /* border: 1px solid red; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63.4375rem;
  gap: 8rem;
  /* min-width: 35rem; */
}

.navButton {
  display: none;
}
.showMobileLinks {
  display: none;
}
.hideMobileLinks {
  display: none;
}

/* .largeScreenLinks {
  display: block;
} */

/* Small screens */
@media screen and (max-width: 480px) {
  .largeScreenLinks {
    display: none;
  }
  .showMobileLinks {
    display: flex;
    position: fixed;
    top: 10rem;
    right: 2rem;
    width: fit-content;
    padding: 4rem;
    background-color: var(--darkBlue);
    color: var(--white);
    z-index: 2;
  }
  .showMobileLinks div {
    display: flex;
  }

  .hidesMobileLinks {
    display: none;
  }

  .navButton {
    display: flex;
  }

  .hideHamburgerBtn {
    display: none;
  }
  .showHamburgerBtn {
    display: flex;
  }

  .hideCloseBtn {
    display: none;
  }
  .showCloseBtn {
    display: flex;
  }
}
