.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 1rem;
  margin: 4rem 0rem;
  top: 0px;
  height: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63.4375rem;
  min-width: 35rem;
}
