.container {
  padding: 2px 10.25rem;
  /* position: static; */
}

.hero {
  background-image: url("../../../public/images/homepage/desktop/image-homepage-hero.jpg");
  height: 37.5rem;
}
.about {
  position: relative;
  bottom: 0px;
  left: 0px;
}
