.homeContainer {
  max-width: 63.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0.5rem;
  width: 100%;
  position: relative;
}

.home {
  /* max-width: 63.4375rem; */
  /* border: 1px solid rgb(86, 87, 85); */
}

.sectionHero {
  background-image: url("../../../public/images/hero/image-homepage-hero.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 37.5rem;
  min-height: 19.4rem;
  border: 1px solid green;
}
.heroAbout {
  position: relative;
  bottom: 0px;
  left: 0px;
  max-width: 445px;
  height: fit-content;
  background-color: var(--background);
}

.sectionAbout {
  max-height: fit-content; /*  37.5rem; */
  max-width: fit-content; /*63.4375rem; */
  gap: 4rem;
  padding-bottom: 1rem;
  padding-top: 4rem;
}

.sectionAbout .aboutImageContainer {
  max-height: 37.5rem;
  /* max-width: 33.75rem; */
  max-width: 25.75rem;
  min-width: 17.56rem;
  overflow: hidden;
  flex-shrink: 3;
}
.aboutImageContainer .aboutImageItem {
  object-fit: cover;
}

.sectionAbout .aboutDetails {
  max-width: 21.87rem;
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px ridge;
  flex-grow: 1;
}

/* Small screens */
@media screen and (max-width: 640px) {
  .sectionAbout .aboutDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
