.homeContainer {
  padding: 2px 1rem;
  position: relative;
}

.home {
  /* max-width: 63.4375rem; */
  border: 1px solid green;
}

.sectionHero {
  background-image: url("../../../public/images/hero/image-homepage-hero.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 37.5rem;
  min-height: 19.4rem;
}
.heroAbout {
  position: relative;
  bottom: 0px;
  left: 0px;
  max-width: 445px;
  height: fit-content;
  background-color: var(--background);
}

.sectionAbout {
  margin-top: 9.374rem;
  margin-bottom: 9.374rem;
  max-height: fit-content; /*  37.5rem; */
  max-width: fit-content; /*63.4375rem; */
  gap: 6rem;
  border: 1px solid red;
}

.sectionAbout .aboutImageContainer {
  max-height: 100%;
  max-width: 50%;
  overflow: hidden;
}
.aboutImageContainer .aboutImageItem {
  object-fit: cover;
}

.sectionAbout .aboutDetails {
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px ridge;
  height: 100%;
  width: 35%;
}

/* Small screens */
@media screen and (max-width: 480px) {
}
