@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;

  --slightlyDesaturatedCyan: #5fb4a2;
  --darkBlue: #203a4c;
  --grayishDarkBlue: #33323d;
  --veryLightGrey: #fafafa;
  --lightGrey: #eaeaeb;
  --brightRed: #f43030;
  --white: #ffffff;
  --linkedInBlue: #0077b5;
  --black: #000000;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.45px;
}
h2 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}
h3 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
}

p {
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navLink {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}
.navLink:hover {
  color: var(--slightlyDesaturatedCyan);
}

.activeLink {
  color: var(--slightlyDesaturatedCyan);
}

.logo {
  height: 30px;
  width: 60.08px;
}
