.container {
  position: relative;
  bottom: 0px;
  /* border: 1px solid rgb(175, 175, 175); */
}
.main {
  padding: 2px 0.5rem;
  padding-bottom: 5rem;
  width: 63.4375rem;
}
.hr {
  width: 40%;
  font-weight: bold;
}
.navContainer {
  height: 5rem;
  padding: 2px 0.5rem;
  color: var(--white);
  background-color: var(--grayishDarkBlue);
}
.nav {
  height: 100%;
  width: 63.4375rem;
}

.socials {
  font-size: 22px;
  cursor: pointer;
}

.socials .github:hover,
.socials .x:hover {
  color: var(--black);
}
.socials .linkedIn:hover {
  color: var(--linkedInBlue);
}
