.container {
  position: fixed;
  bottom: 0px;
  border: 1px ridge;
}
.main {
  padding: 2px 5rem;
  padding-bottom: 5rem;
}
.hr {
  width: 50%;
  max-width: 80%;
  font-weight: bold;
}
.nav {
  padding: 2px 5rem;
  background-color: aquamarine;
}
