.container {
  position: relative;
  bottom: 0px;
  /* border: 1px solid rgb(175, 175, 175); */
}
.navContainer {
  height: 5rem;
  padding: 2px 1rem;
  color: var(--white);
  background-color: var(--grayishDarkBlue);
}
.nav {
  height: 100%;
  width: 63.4375rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
